<!DOCTYPE html>
<html>
  <head>
    <title>Milodemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config%>

  </head>

  <body>
    <div class='container'>

      <nav class="navbar navbar-default navbar-fixed-top">
         <ul class="nav navbar-nav">
          <li><a href="/users">HOME</a></li>
          <li><a href="/users">Index</a></li>
          <li><a href="/users/new">Create new</a></li>


        </ul>

      </nav>

      <h1>This is a HEADING</h1>
      

      <%= yield %>
    </div>
  </body>
</html>
